certifi==2018.8.24
cffi==1.11.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.2
olefile==0.46
Pillow==5.2.0
pycparser==2.19
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.11.0
torch==1.0.0
torchvision==0.2.1
wincertstore==0.2
